body {
    text-align: center;
    font-family: 'VT323', monospace;
}

h1 {
    font-size: 2.2em;
    font-weight: normal;
}

h2 {
    font-size: 1.7em;
    font-weight: normal;
}

li {
    display: inline-block;
    margin-right: 30px;
}

button {
    background-color: #fff;
}

li, .char-button {
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.checked {
    box-shadow: 5px 5px 5px #000;
}

.character,
.name,
.start {
    padding-top: 40px;
}

.start-button {
    width: 300px;
    height: 100px;
    font-size: 1.5em;
    font-family: 'VT323', monospace;
    border-radius: 5px;
}

.start-button, .char-button {
    box-shadow: 2px 2px #a19e9e;
    border: 2px solid #a19e9e;
}

.start-button:focus, .char-button:focus {
    outline: 0;
}
